@{
    ViewBag.Title = "About";
}
<div class="main-container container">
    <ul class="breadcrumb">
        <li><a href="/"><i class="fa fa-home"></i></a></li>
        <li><a href="/">Home</a></li>
        <li><a href="/Home/About">About Us</a></li>
    </ul>

    <div class="row">
        <div id="content" class="col-sm-12 item-article">
            <div class="row box-1-about">
                <div class="col-md-9 welcome-about-us">
                    <div class="title-about-us">
                        <h2>Welcome To Shop</h2>
                    </div>
                    <div class="content-about-us">
                        <div class="image-about-us">
                            <img src="~/ClientAccess/image/catalog/about/about-us.jpg" alt="Image Client">
                        </div>
                        <div class="des-about-us">
                            Cửa hàng của chúng tôi chuyên bán đồ điện tử
                            <br>
                            <br>Cam kết chất lượng tốt, chế độ bảo hành trọn đời
                            <br>
                            <br>Nếu có gì thắc mắc bạn có thể liên hệ trực tiếp với đội ngũ phát triển
                        </div>
                    </div>
                </div>
                <div class="col-md-3 why-choose-us">
                    <div class="title-about-us">
                        <h2>Tại sao nên chọn chúng tôi</h2>
                    </div>
                    <div class="content-why">
                        <ul class="why-list">
                            <li>
                                <a title="Shipping &amp; Returns" href="#">Giao hàng &amp; Đổi trả</a>
                            </li>
                            <li>
                                <a title="Secure Shopping" href="#">Bảo mật thông tin</a>
                            </li>
                            <li>
                                <a title="International Shipping" href="#">Hàng quốc tế </a>
                            </li>
                            <li>
                                <a title="Affiliates" href="#">Lợi ích</a>
                            </li>
                            <li>
                                <a title="Group Sales" href="#">Nhiều ưu đãi</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-12 our-member">
                    <div class="title-about-us">
                        <h2>Thành viên của chúng tôi</h2>
                    </div>
                    <div class="short-des">
                        Đội ngũ phát triển nhiệt tình, vui tính, chuyên môn cao.
                        <br>Chúng tôi sẵn sàng giúp đỡ các bạn mọi lúc mọi nơi.
                    </div>
                    <div class="overflow-owl-slider1">
                        <div class="wrapper-owl-slider1">
                            <div class="row slider-ourmember">
                                <div class="item-about col-lg-6 col-md-6 col-sm-6">
                                    <div class="item respl-item">
                                        <div class="item-inner">
                                            <div class="w-image-box">
                                                <div class="item-image">
                                                    <a title="Jennifer lawrence" href="#">
                                                        <img src="~/ClientAccess/image/catalog/about/cl-image-1.jpg" alt="Image Client">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="info-member">
                                                <h2 class="cl-name"><a title="Jennifer lawrence" href="#">Đỗ Ngọc Long</a></h2>
                                                <p class="cl-job">Lớp Bảo Đảm An Toàn Thông Tin</p>
                                                <p class="cl-des"><strong>Hà Nam</strong></p>
                                                <ul>
                                                    <li>
                                                        <a class="fa fa-f" title="Facebook" href="https://www.facebook.com/profile.php?id=100017672888348"></a>
                                                    </li>
                                                    <li>
                                                        <a class="fa fa-t" title="Twitter" href="#"></a>
                                                    </li>
                                                    <li>
                                                        <a class="fa fa-g" title="google" href="#"></a>
                                                    </li>
                                                    <li>
                                                        <a class="fa fa-s" title="skyper" href="#"></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-about col-lg-6 col-md-6 col-sm-6">
                                    <div class="item respl-item">
                                        <div class="item-inner">
                                            <div class="w-image-box">
                                                <div class="item-image">
                                                    <a title="Jennifer lawrence" href="#">
                                                        <img src="~/ClientAccess/image/catalog/about/cl-image-2.jpg" alt="Image Client">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="info-member">
                                                <h2 class="cl-name"><a title="Jennifer lawrence" href="#">Phùng Đức Dũng</a></h2>
                                                <p class="cl-job">Lớp An Ninh Hệ Thống Thông Tin</p>
                                                <p class="cl-des"><strong>Hà Nội</strong></p>
                                                <ul>
                                                    <li>
                                                        <a class="fa fa-f" title="Facebook" href="#"></a>
                                                    </li>
                                                    <li>
                                                        <a class="fa fa-t" title="Twitter" href="#"></a>
                                                    </li>
                                                    <li>
                                                        <a class="fa fa-g" title="google" href="#"></a>
                                                    </li>
                                                    <li>
                                                        <a class="fa fa-s" title="skyper" href="#"></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-about col-lg-6 col-md-6 col-sm-6">
                                    <div class="item respl-item">
                                        <div class="item-inner">
                                            <div class="w-image-box">
                                                <div class="item-image">
                                                    <a title="Jennifer lawrence" href="#">
                                                        <img src="~/ClientAccess/image/catalog/about/cl-image-4.jpg" alt="Image Client">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="info-member">
                                                <h2 class="cl-name"><a title="Jennifer lawrence" href="#">Nguyễn Minh Quang</a></h2>
                                                <p class="cl-job">Lớp An Ninh Hệ Thống Thông Tin</p>
                                                <p class="cl-des"> Tuyên Quang </p>
                                                <ul>
                                                    <li>
                                                        <a class="fa fa-f" title="Facebook" href="#"></a>
                                                    </li>
                                                    <li>
                                                        <a class="fa fa-t" title="Twitter" href="#"></a>
                                                    </li>
                                                    <li>
                                                        <a class="fa fa-g" title="google" href="#"></a>
                                                    </li>
                                                    <li>
                                                        <a class="fa fa-s" title="skyper" href="#"></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-about col-lg-6 col-md-6 col-sm-6">
                                    <div class="item respl-item">
                                        <div class="item-inner">
                                            <div class="w-image-box">
                                                <div class="item-image">
                                                    <a title="Jennifer lawrence" href="#">
                                                        <img src="~/ClientAccess/image/catalog/about/cl-image-3.jpg" alt="Image Client">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="info-member">
                                                <h2 class="cl-name"><a title="Jennifer lawrence" href="#">Dương Trung Hiếu</a></h2>
                                                <p class="cl-job">Chuyên viên câu trộm mạng</p>
                                                <p class="cl-des">Yên Bái</p>
                                                <ul>
                                                    <li>
                                                        <a class="fa fa-f" title="Facebook" href="#"></a>
                                                    </li>
                                                    <li>
                                                        <a class="fa fa-t" title="Twitter" href="#"></a>
                                                    </li>
                                                    <li>
                                                        <a class="fa fa-g" title="google" href="#"></a>
                                                    </li>
                                                    <li>
                                                        <a class="fa fa-s" title="skyper" href="#"></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
